.cust-btn {
  background-color: #06245c;
  color: white;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  border: solid 2px #06245c;
}
.cust-btn:hover {
  background-color: #06245c;
  color: white;
  border: solid 2px #06245c;
}

.cust-btn:active {
  background-color: #06245c;
  color: white;
  border: solid 2px #06245c;
}

.header-color {
  background-color: #68aa40;
}

.page {
  background-color: #0c1625;
  height: 100vh;
}
